<!doctype html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title> Search </title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" inteegrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymmous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integriity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymmous"></script>

</head>

<body>

	<h1 class="display-4"><a href="{{ url_for('index') }}"> Search Naver Blog </a></h1>
	<div class="container">
		<div class="row alogn-items-center">
			<div class="col-lg">
				<form action="searchKeyword" method="post" enctype='multipart/form-data'>
					<div class="form-group">
						<label for="Keyword"> Keyword:</label>
						<input type="text" class="form-control" id="keyword" name="keyword" />
						<label for="Keyword"> URL:</label>
						<input type="text" class="form-control" id="url" name="url" />
					</div>
					<button type="submit" class="btn btn-outline-secondary">SEARCH</button>
				</form>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row alogn-items-center">
			<div class="col-md">
				<span class='label label-info'> 순위 </span>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-md">
				<span class='label label-info'>{{ url }} 은 "{{ keyword }}"에서 {{ rank }} 입니다. ({{ time }})</span>
			</div>
		</div>
	</div>
